
<%# This is the title, responsive for small screens and bigger screens %>

<!--<h1 class= "h3 ml-3 my-5 d-block d-md-none" > Select a room to  <br> join your game! </h1>-->
<h1 class= "h3 ml-3 my-5 d-md-block d-none" > Select a room to join your game! </h1>


<%# This is the list of the subjects that we got from the @subjects variable, and we are creating a table with all of them! %>
<%# All of the sessions will use the same room for now to keep it simpler %>

<ul cass="list-group list-group-flush bg-transparent">
  <% @games.each do |game| %>
    <li class = "list-group-item bg-transparent col-10 col-md-5 ">
      <%= link_to game.title, sessions_show_path(game: game), method: :post, class: "h5" %>
<!--      <p class="text-warning mb-1"> Mentor: <%#= subject.teacher %> </p>-->
    </li>
  <% end %>
</ul>
